#order-detail
  @include page-template

  .columns
    margin-bottom: $space-medium

  .map
    z-index: 500 // to force the redraw of border-radius
    border-radius: $radius $radius 0 0
  
  .content-box
    @include content-box
    border-top-left-radius: 0
    border-top-right-radius: 0

    .data-field:last-child
      hr
        display: none 

  .footer
    text-align: center

@media screen and ( min-width: $media-larger-tablet )
  #order-detail
    .columns
      display: flex

      .map
        order: 2
        width: 100% // to force the map to play along flexbox
        height: 480px // to force the map to play along flexbox
        border-radius: $radius

      .content-box
        order: 1
        width: 400px
        border-radius: $radius
        margin-right: $space-big
        margin-bottom: 0

    .footer
      text-align: right